* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

#text {
  padding: 5px;
}

#color {
  height: 29.2px;
}

#first-part {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: fit-content;
  height: fit-content;
}
